
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg-color: #ffffff;
  --text-color: #000000;
  --primary-color: #1d4ed8; */
  --color-bg: #F8F9FA; /* Light mode background */
  --color-text: #000000; /* Light mode text */
  --color-border: #e5e7eb; /* Light mode border */
  --color-primary: #5657FF; /* Light mode primary color */
  --color-primary-light:#5657FF;
  --color-hover: #EEEEFF; /* Light mode hover color */
  --text-menu-color:#6F757E;

  --alertlighttheme:#F6F7FF;
  --alertstroke:#B4B4FF;
  --tab-bg:#e6e6e6;

  --card-bg:#ffffff;
  --secondary-card-container:#ffffff;
  --card-stroke:#ececec;
  --menu-item-hover:#ccd9ff;

  --main-stroke:#e9e9e9;

  --text-heading:#050F24;
  --text-primary:#2D3748;
  --text-secondary:#6F757E;

  
  --custom-btn-items-stroke-Inactive:#dddddd;
  --custome-btn-bg-fill:#e0e7ff; /* for indigobg */

  --scrolbar-thumb-color:#BEBEBE;
  --scrollbar-track-color:#e7e7e7;
  --scrolbar-thumb-hover:#BEBEBE;

  --loader-img-bg:#e7e7e7;



}

[data-theme="dark"] {
  /* --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --primary-color: #6366f1; */
  --color-bg: #0A0A0A; /* Dark mode background */
  --color-text: #ffffff; /* Dark mode text */
  --color-border: #444444; /* Dark mode border */
  --color-primary: #5657FF; /* Dark mode primary color */
  --color-primary-light:#8282ff;
  --color-hover: #3b82f6; /* Dark mode hover color */
  --text-menu-color:#6F757E;

  --alertlighttheme:#141414;
  --alertstroke:#202020;
  --tab-bg:#202020;

  --card-bg:#101010;
  --card-stroke:#202020;
  --menu-item-hover:#171717;
  --secondary-card-container:#0f0f0f;

  --main-stroke:#202020;

  --text-heading:#E2E2E2;
  --text-primary:#D5D5D7;
  --text-secondary:#6F757E;
  
  --custom-btn-items-stroke-Inactive:#202020;
  --custome-btn-bg-fill:#171717;

  --scrolbar-thumb-color:#383838;
  --scrollbar-track-color:#171717;
  --scrolbar-thumb-hover:#2E2E2E;

  --loader-img-bg:#262626;

}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: var(--color-bg);
  color: var(--text-menu-color);
}

button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}